doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='http://cdn.kendostatic.com/2013.1.226/styles/kendo.metro.min.css')
    link(rel='stylesheet', href='http://cdn.kendostatic.com/2013.1.226/styles/kendo.common.min.css')
    link(rel='stylesheet', href='http://cdn.kendostatic.com/2013.1.226/styles/kendo.default.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/kendoUI.less')

    script(src='http://cdn.kendostatic.com/2013.1.226/js/jquery.min.js')
    script(src='http://cdn.kendostatic.com/2013.1.226/js/kendo.all.min.js')
    
  body(class='k-content')
    block usermenu
        a(href='/logout', class='k-link') Logout
    
    block content
