doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='http://cdn.kendostatic.com/2013.1.226/styles/kendo.metro.min.css')
    link(rel='stylesheet', href='http://cdn.kendostatic.com/2013.1.226/styles/kendo.common.min.css')
    link(rel='stylesheet', href='http://cdn.kendostatic.com/2013.1.226/styles/kendo.default.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/kendoUI.css')

    script(src='http://cdn.kendostatic.com/2013.1.226/js/jquery.min.js')
    script(src='http://cdn.kendostatic.com/2013.1.226/js/kendo.all.min.js')
    
  body(class='k-content')
    block usermenu
        a.usermenu(href='/logout', class='k-link') Logout
        a.usermenu(href='/login', class='k-link') Login
        a.usermenu(href='/signup', class='k-link') Sign Up
        a.usermenu(href='/', class='k-link') Home
        a.usermenu(href='/exam/new', class='k-link') Create New Exam
        a.usermenu(href='/exam/details', class='k-link') View Exam Details
        a.usermenu(href='/course/new', class='k-link') Create New Course
        a.usermenu(href='/course/edit', class='k-link') Edit an existing Course
        a.usermenu(href='/course/course', class='k-link') View an existing Course
        a.usermenu(href='/course/details', class='k-link') Course - Details
    block content
