doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='http://cdn.kendostatic.com/2013.1.226/styles/kendo.metro.min.css')
    link(rel='stylesheet', href='http://cdn.kendostatic.com/2013.1.226/styles/kendo.common.min.css')
    link(rel='stylesheet', href='http://cdn.kendostatic.com/2013.1.226/styles/kendo.default.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/kendoUI.css')

    script(src='http://cdn.kendostatic.com/2013.1.226/js/jquery.min.js')
    script(src='http://cdn.kendostatic.com/2013.1.226/js/kendo.all.min.js')
    
  body(class='k-content')
    div.usermenu
        a.item(href='/', class='k-link') Home
        a.item(href='/login', class='k-link') Login/Signup
        a.item(href='/exam/new', class='k-link') New Exam
        a.item(href='/exam/details', class='k-link') Exam Details
        a.item(href='/course/new', class='k-link') New Course
        a.item(href='/course/edit', class='k-link') Edit Course
        a.item(href='/course/course', class='k-link') View Course
        a.item(href='/course/details', class='k-link') Course Details
        a.item(href='/logout', class='k-link') Logout
    
    block content
