doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='http://cdn.kendostatic.com/2013.1.226/styles/kendo.metro.min.css')
    link(rel='stylesheet', href='http://cdn.kendostatic.com/2013.1.226/styles/kendo.common.min.css')
    link(rel='stylesheet', href='http://cdn.kendostatic.com/2013.1.226/styles/kendo.default.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/kendoUI.css')

    script(src='http://cdn.kendostatic.com/2013.1.226/js/jquery.min.js')
    script(src='http://cdn.kendostatic.com/2013.1.226/js/kendo.all.min.js')
    
  body(class='k-content')
    div.usermenu
        a.k-link(href='/') Home
        a.k-link(href='/login') Login/Signup
        a.k-link(href='/exam/new') New Exam
        a.k-link(href='/exam/details') Exam Details
        a.k-link(href='/course/new') New Course
        a.k-link(href='/course/edit') Edit Course
        a.k-link(href='/course/course') View Course
        a.k-link(href='/course/details') Course Details
        a.k-link(href='/logout') Logout
    
    block content
