extends layout

block content
	p= message

	h1= title

	form(action='/signup', method='post', id='signup')
		div
			label(for='firstname')
				| Firstname:
				input#firstname(type='text', name='firstname', data-bind='value: firstname', pattern="^[A-Za-z-'\\]+$")

		div
			label(for='lastname')
				| Lastname:
				input#lastname(type='text', name='lastname', data-bind='value: lastname', pattern="^[A-Za-z-'\\]+$")

		div
			label(for='username')
				| Username:
				input#username(type='text', name='username', data-bind='value: username', pattern="^[a-z0-9_-]{3,16}$")

		div
			label(for='studentNumber')
				| Student Number:
				input#studentNumber(type='text', name='studentNumber', data-bind='value: studentNumber', pattern='\d')

		div
			label(for='emailAddress')
				| E-Mail:
				input#emailAddress(type='email', name='emailAddress', data-bind='value: emailAddress')

		div
			label(for='password')
				| Password: 
				input#password(type='password', name='password', data-bind='value: password')

		div
			label(for='passwordConfirm')
				| Repeat Password: 
				input#password(type='password', name='passwordConfirm', data-bind='value: passwordConfirm')

		div
			input(type='submit', value='Sign Up')

	script

		var signup = kendo.observable({
			firstname: 'first name',
			lastname: 'last name',
			username: 'username',
			emailAddress: 'email address',
			password: '',
			passwordConfirm: ''
		});

		kendo.bind($('#signup'), signup);
