extends layout

block content
	p= message

	h1= title

	form(action='/signup', method='post')
		div
			label(for='firstname')
				| Firstname:
				input#firstname(type='text', name='firstname')

		div
			label(for='lastname')
				| Lastname:
				input#lastname(type='text', name='lastname')

		div
			label(for='username')
				| Username:
				input#username(type='text', name='username')

		div
			label(for='studentNumber')
				| Student Number:
				input#studentNumber(type='text', name='studentNumber')

		div
			label(for='emailAddress')
				| E-Mail:
				input#emailAddress(type='text', name='emailAddress')

		div
			label(for='password')
				| Password: 
				input#password(type='password', name='password')

		div
			label(for='passwordConfirm')
				| Repeat Password: 
				input#password(type='password', name='passwordConfirm')

		div
			input(type='submit', value='Sign Up')
script
<form>
    <label>First Name: <input data-bind="value: firstName" /></label>
    <label>Last Name: <input data-bind="value: lastName" /></label>
    <label>Gender:
        <select data-bind="source: genders, value: gender"></select>
    </label>
    <label><input type="checkbox" data-bind="checked: agreed" /> I have read the licence agreement</label>
    <button data-bind="enabled: agreed, click: register">Register</button>
    <div data-bind="visible: confirmed">
        <h4>Confirmation</h4>
        <div>
            Thank you for your registration, <span data-bind="text: firstName"></span> <span data-bind="text: lastName"></span>
            <br /><br />
            <button data-bind="click: startOver">Start Over</button>
        </div>
    </div>
</form>
