extends layout

block content
	p= message

	h1= title

	form(action='/signup', method='post', name="signup")
		div
			label(for='firstname')
				| Firstname:
				input#firstname(type='text', name='firstname')

		div
			label(for='lastname')
				| Lastname:
				input#lastname(type='text', name='lastname')

		div
			label(for='username')
				| Username:
				input#username(type='text', name='username')

		div
			label(for='studentNumber')
				| Student Number:
				input#studentNumber(type='text', name='studentNumber')

		div
			label(for='emailAddress')
				| E-Mail:
				input#emailAddress(type='text', name='emailAddress')

		div
			label(for='password')
				| Password: 
				input#password(type='password', name='password')

		div
			label(for='passwordConfirm')
				| Repeat Password: 
				input#password(type='password', name='passwordConfirm')

		div
			input(type='submit', value='Sign Up')

	script
		var signup = kendo.observable({
			firstname: "first name",
			lastname: "last name",
			username: "username",
			emailAddress: "email address",
			password: "password",
			passwordConfirm: "Repeat the password",
			startOver: function() {
			this.set("firstname", first name);
			this.set("lastname", last name);
			this.set("username", username);
			this.set("emailAddress", email address);
			this.set("password", password);
			this.set("passwordConfirm", repeat password);
			}


			});
		kendo.bind($("#signup"), signup);


