extends layout

block content
	p= message

	h1= title

	form(action='/signup', method='post')
		div
			label(for='username')
				| Username:
				input#username(type='text', name='username')

		div
			label(for='password')
				| Password: 
				input#password(type='password', name='password')

		div
			label(for='passwordConfirm')
				| Repeat Password: 
				input#password(type='password', name='passwordConfirm')

		div
			input(type='submit', value='Sign Up')