body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
}

a.usermenu {
	margin-right: 10px:
	margin-left:  10px;
}

label {
	display: inline;
	width: 200px;
}
