body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
.usermenu a.item {
  margin-right: 20px;
}
a.usermenu {
  margin-right: 10px;
  margin-left: 10px;
}
label {
  display: block;
  padding-right: 5px;
}
#loginSignup {
  overflow: hidden;
}
#login,
#signup {
  float: left;
}
#login {
  margin-right: 80px;
}
form table th,
form table td {
  text-align: left;
}
form table th.button,
form table td.button {
  text-align: right;
}
