body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
}

.info, .error {
	display: inline-block;
	padding: 5px;
	background: #eff62d;
}

.error {
	color: #8c0819;
	background: #f99aa6;
}

.usermenu a.k-link {
	margin-right: 20px;
}

label {
	display: block;
	padding-right: 5px;
}

// login page
#loginSignup {
	overflow: hidden;
}

#login, #signup {
	float: left;
}

#login {
	margin-right: 80px;
}

form table th,
form table td {
	text-align: left;
	vertical-align: top;
	overflow: hidden;
}

form table th.button,
form table td.button {
	text-align: right;
}

#allStudents, #studentsInCourse {
	float: left;
	width: 160px;
	margin-right: 40px;
	overflow: hidden;
}

ul.selections {
	padding: 0;
}

.removeSelection {
	display: inline-block;
	cursor: pointer;
	border: 1px solid #999;
	border-radius: 4px;
	line-height: 25px;
	padding: 4px;
	padding-right: 20px;
	margin-right: 5px;
	list-style-type: none;
	position: relative;
	span {
		color: #999;
		position: absolute;
		top: 3px;
		right: 3px;
		line-height: 5px;
	}
}

.removeSelection:hover {
	border-color: #CA1A0E;
}

ul.criteria {
	margin: 0;
	padding: 0;
	li {
		list-style-type: none;
	}
	ul {
		margin: 5px 0;
	}
	input {
		margin-right: 2px;
	}
	.criteriaName {
		width: 214px;
	}
	.criteriaScore, .subcriteriaScore, .assessCriteria {
		width: 70px;
	}
}

#pointsError {
	border-left: 2px solid #CF291A;
	padding-left: 10px;
}