extends ../../layout

block content

	form#userForm.k-content(action='/user/update', method='post')

		table
			tr
				th
					label(for='user')
						| User:
				td
					input#user.k-textbox(type='text', name='user', required='true')

	script
		
		function autoComplete(ele, data) {
			console.log('PENIS');
			$('#' + ele).kendoAutoComplete({
				dataSource: data,
				filter: 'contains',
				ignoreCase: true,
				dataTextField: 'name',
				placeholder: 'search string...',
				change: function(e) {
					console.log('PENIS1');
					var selections = $(this.element).parent().next();
					var curData = this.dataItem(this.current().index());

					if(curData.id) {
						selections.append("<li class='removeSelection'>" + curData.name + "<span>x</span><input type='hidden' class='k-textbox' name='" + ele + "[]' value='" + curData.id + "' /></li>");
					}

					if(curData._id) {
						selections.append("<li class='removeSelection'>" + curData.name + "<span>x</span><input type='hidden' class='k-textbox' name='" + ele + "[]' value='" + curData._id + "' /></li>");
					}

					if(ele == 'tutor') {
						tutorAutocomplete.enable(false);
					}
					this.value('');
				}
			});
		}
		
		autoComplete('user', !{JSON.stringify(users)});